<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ static_url("semantic.min.css") }}">
        <title>briefing generator</title>
    </head>
    <body>
        <h1>简报生成器</h1>
        <form method="post" action="/result">
            <p>标题：<input type="text" name="headline" value='早报'></p>
            <p>类型：
                <input type="checkbox" value="product" 
                       name="post_type" checked>产品
                <input type="checkbox" value="miniapp" 
                       name="post_type">小程序</p>
            <p>时间：<input type="date" id = 'datePicker' name="post_date"></p>
            <input type="submit" value="生成">
        </form>
        <script>
            yesterday = new Date(new Date().setDate(new Date().getDate()-1))
            document.getElementById('datePicker').valueAsDate = yesterday
        </script>
    </body>
</html>