<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-139711766-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-139711766-2');
    </script>
    {% block title %}<title>briefing generator</title>{% end %}
    <link rel="shortcut icon" href="{{static_url('images/favicon.ico')}}">
    <link rel="stylesheet" href="{{static_url('style.css')}}">
    <link rel="stylesheet" href="{{static_url('semantic.min.css')}}">
</head>
<body>
    {% block body %}{% end %}
</body>
</html>
