<!DOCTYPE html>
<html>
    <head>
        <title>briefing generator</title>
        <link rel="shortcut icon" type="image/png" 
            href="{{static_url('images/favicon.png')}}"/>
        <link rel="stylesheet" href="{{static_url('style.css')}}">
        <link rel="stylesheet" href="{{static_url('semantic.min.css')}}">
    </head>
    <body>
    <div class="ui segment padded">
        <h2 class="ui header">简报生成器</h2>
        <div class="ui segment padded">
            <form class="ui form" method="post" action="/result">
                <div class="inline field">
                    <label>标题：</label>
                    <div class="ui input">
                        <input type="text" placeholder='请输入简报标题' name="headline">
                    </div>
                </div>
                <div class="inline field">
                    <label>时间：</label>
                    <div class="ui input">
                        <input type="date" id = 'datePicker' name="post_date"></p>
                    </div>
                </div>
                <div class="inline field">
                    <label>类型：</label>
                    <input type="checkbox" value="product" name="post_type" checked>
                    <label>产品</label>
                    <input type="checkbox" value="miniapp" name="post_type">
                    <label>小程序</label>
                </div>
                <input class="ui blue button" type="submit" value="生成">
            </form>

        </form>
        </div>
    </div>
    <script>
        // yesterday = new Date(new Date().setDate(new Date().getDate()-1))
        document.getElementById('datePicker').valueAsDate = new Date();
    </script>
    </body>
</html>